@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

:root {
  --bg-color: #1f1d2b;
  --clr-1: #fff;
  --clr-2: #808191;
  --clr-3: #353440;
  --clr-4: #ff7551;
  --clr-5: #34373c;
  --clr-6: #ccc;
  --clr-7: #6c5ecf;
  --clr-8: rgba(37, 40, 49, 0.5);
  --clr-9: #242730;
  --clr-10: #B7B9D2;
  --clr-11: #808191;
  --clr-12: #fff;
}

body {
  background-color: var(--bg-color);
  font-family: Poppins;
  transition: background-color 0.7s;
}

.page {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.darkmode {
  --bg-color: white;
  --clr-1: black;
  --clr-2: #808191;
  --clr-3: #e6dada;
  --clr-4: #ff7551;
  --clr-5: #34373c;
  --clr-6: #ccc;
  --clr-7: #6c5ecf;
  --clr-8: rgba(37, 40, 49, 0.5);
  --clr-9: #aaacb6;
  --clr-10: #35353b;
  --clr-11: #808191;
  --clr-12: #fff;
}

.sidebar {
  width: 200px;
  height: 100dvh;
  position: relative;
  padding: 2rem;
}

.sidebar__name {
  color: var(--clr-1);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.sidebar__text {
  color: var(--clr-2);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 1.5px;
}

.sidebar__button {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 12px;
  background-color: var(--clr-3);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar__button_1 {
  background-color: var(--clr-4);
}

.sidebar__element {
  display: flex;
  align-items: center;
}

hr {
  border: 1px solid var(--clr-5);
}

.sidebar__group {
  margin-top: 3em;
  margin-bottom: 3em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: var(--clr-12);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--clr-7);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-7);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.NightMode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

.list {
  list-style: none;
}

.header {
  margin: 1.5em;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.header__searchBar {
  width: 600px;
  position: relative;
}

.header__search {
  width: 600px;
  height: 40px;
  background-color: var(--clr-3);
  border-radius: 10px;
  border: 0px;
  padding-left: 10px;
  color: var(--clr-1);
}

.header__searchButton {
  position: absolute;
  right: 6px;
  top: 6px;
  height: 30px;
  width: 30px;
  background: none;
  border: 0px;
}

.header__profile {
  height: 3em;
  display: flex;
  color: var(--clr-1);
  align-items: center;
}

.header__name {
  margin-inline: 10px;
}

.header__arrow {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.content {
  grid-column-start: 2;
  margin: 1.5em;
}

.content__header {
  color: var(--clr-1);
}

.content__major {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 350px;
  border-radius: 20px;
  width: 1200px;
  margin-inline: auto;
  margin-bottom: 40px;
}

.content__image {
  border-radius: 20px;
  height: 350px;
  width: 750px;
  margin-inline: auto;
}

.content__text_left {
  color: var(--clr-1);
  width: 160px;
  position: absolute;
  top: 2em;
  left: 2em;
}

.content__avatar {
  float: left;
  margin-top: 40px;
}

.content__name {
  width: 200px;
  margin-top: 50px;
  margin-left: 70px;
}

.content__disc {
  opacity: 0.6;
}

.content__time {
  background-color:  var(--clr-8);
  border-radius: 8px;
  width: 60px;
  height: 20px;
  position: absolute;
  text-align: center;
  right: -540px;
  bottom: -80px;
  color: var(--clr-12);
}

.content__text_right {
  color: var(--clr-1);
  width: 160px;
  position: absolute;
  top: 2em;
  left: 2em;
}

.content__image_right {
  width: 400px;
}

.content__name_right {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content__imgRight{
  position: relative;
}

.content__time_right {
  bottom: -65px;
  right: -200px;
}

.content__additionalPlace {
  color: var(--clr-1);
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1200px;
  margin-inline: auto;
}

.content__title {
  color: var(--clr-1);
}

.content__cards {
  background-color: var(--clr-9);
  height: 300px;
  width: 250px;
  margin-inline: auto;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
}

.content__cards_1 {
  grid-column-start: 1;
}

.card__img {
  width: 250px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card__time {
  top: 10px;
  right: 10px;
}

.card__avatar {
  position: absolute;
  top: 130px;
  right: 20px;
}

.card__text {
  width: 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.card__name {
  color: var(--clr-10);
}

.card__info {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.card__disc {
  color: var(--clr-11);
}

@media screen and (max-width: 700px) {
  .content__major {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .header__search {
    width: 400px;
  }

  .content__image {
    width: 600px;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-right: 30px;
  }

  .content__time {
    right: -380px;
  }

  .sidebar {
    display: none;
  }

  .content__additionalPlace {
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 40px);
    margin-inline: auto;
  }

  .card__time {
    right: 10px;
  }

  .content__cards {
    margin-inline: 20px;
  }

  .content__title {
    margin-top: 420px;
  }

  .content__major {
    width: 1dvw;
    margin-left: 0;
  }

}

@media screen and (min-width: 1400px) {
  .second_column {
    width: 1300px;
    margin-inline: auto;
  }
}
